.img-submit {
  margin-bottom: 1.5rem;

  @media only screen and (min-width: 640px) {
    margin-bottom: 3rem;
  }

  button {
    background: $magenta;
    color: $off-white;
    border: 0;
    width: 100%;

    @media only screen and (min-width: 500px) {
      max-width: 15rem;
    }

    &:hover,
    &:active {
      background: darken($magenta, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}

label {
  text-transform: uppercase;
}

input,
select,
button {
  font-size: 1rem;
  line-height: 3rem;
}

input {
  width: 100%;
  max-width: 31.25rem;
  padding: 0 0.5rem;
}

select {
  height: 2rem;
  width: 3rem;
  margin: 0 0 1.5rem 0.5rem;
}

.error {
  font-size: $smaller;
  color: $magenta;
}
