main {
  margin-bottom: 3rem;

  @media only screen and (min-width: 40rem) {
    margin-bottom: 4.5rem;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  max-width: 60rem;
}

p {
  margin-bottom: 1.5rem;
  max-width: 31.25rem;
}

.d-block {
  display: block;
}

.intro {
  margin-bottom: 4.5rem;
}

.color-gen {
  .linked-img {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto 1.5rem;
  }

  .swatches {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 3rem;

    & > div {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: var(--color);
      margin: 0.25rem;
      margin-right: 5rem;

      &:after {
        content: attr(hex);
        font-family: monospace;
        margin-left: 44px;
        white-space: nowrap;
        line-height: 40px;
      }
    }
  }

  @media only screen and (min-width: 40rem) {
    display: flex;
    flex-wrap: wrap;

    .linked-img {
      max-width: 48.75%;
      margin: 0 2rem 3rem 0;
    }

    .palette {
      max-width: 250px;
    }
  }
}
