// Base 16 ... Augmented 4th
$h1: 2.827rem; // 45.23px
$h2: 1.999rem; // 31.99px
$h3: 1.414rem; // 22.62px
$smaller: 0.707em; // 11.32px / 16

// Med Viewport
$h1-md: 3.998rem; // 63.96px
$h2-md: 2.827rem;
$h3-md: 1.999rem;

// Lg Viewport
$h1-lg: 5.653rem; // 90.44px
$h2-lg: 3.998rem;
$h3-lg: 2.827rem;
